:root {
    --ion-color-primary: #9B26AF;
    --ion-color-primary-rgb: 155,38,175;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #88219a;
    --ion-color-primary-tint: #a53cb7;
  
    --ion-color-secondary: #6639B6;
    --ion-color-secondary-rgb: 102,57,182;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #5a32a0;
    --ion-color-secondary-tint: #754dbd;
  
    --ion-color-tertiary: #3E50B4;
    --ion-color-tertiary-rgb: 62,80,180;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #37469e;
    --ion-color-tertiary-tint: #5162bc;
  
    --ion-color-success: #4BAE4F;
    --ion-color-success-rgb: 75,174,79;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #429946;
    --ion-color-success-tint: #5db661;
  
    --ion-color-warning: #FEEA3A;
    --ion-color-warning-rgb: 254,234,58;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ce33;
    --ion-color-warning-tint: #feec4e;
  
    --ion-color-danger: #F34235;
    --ion-color-danger-rgb: 243,66,53;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d63a2f;
    --ion-color-danger-tint: #f45549;
  
    --ion-color-dark: #363F45;
    --ion-color-dark-rgb: 54,63,69;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #30373d;
    --ion-color-dark-tint: #4a5258;
  
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }