:root {
    --ion-background-color: #8B3594;
    --ion-background-color-rgb: 139,53,148;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #913f99;
    --ion-color-step-100: #97499f;
    --ion-color-step-150: #9c53a4;
    --ion-color-step-200: #a25da9;
    --ion-color-step-250: #a868af;
    --ion-color-step-300: #ae72b4;
    --ion-color-step-350: #b47cb9;
    --ion-color-step-400: #b986bf;
    --ion-color-step-450: #bf90c4;
    --ion-color-step-500: #c59aca;
    --ion-color-step-550: #cba4cf;
    --ion-color-step-600: #d1aed4;
    --ion-color-step-650: #d6b8da;
    --ion-color-step-700: #dcc2df;
    --ion-color-step-750: #e2cde4;
    --ion-color-step-800: #e8d7ea;
    --ion-color-step-850: #eee1ef;
    --ion-color-step-900: #f3ebf4;
    --ion-color-step-950: #f9f5fa;
  }